<section class="features-section">
  <div class="box conversor">
    <span class="material-symbols-outlined img rounded-first-img">swap_horiz</span>
    <h3>Conversão Bidrecional</h3>
    <p>
      Converta facilmente entre JSON e <br />
      CSV em ambas direções
    </p>
  </div>
  <div class="box conversor">
    <span class="material-symbols-rounded img rounded-second-img">file_json</span>

    <h3>Simples e Rápido</h3>
    <p>
      Cole seu conteúdo e converta <br />
      instantaneamente
    </p>
  </div>
</section>
