main {
  background-color: white;
  margin-inline: 6rem;
  margin-bottom: 3rem;
  border-radius: 8px;
  box-shadow:
    0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  .titles-container {
    display: flex;
    justify-content: space-around;
  }
  .in-out-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    .in-container,
    .out-container {
      width: 100%;
      color: #555;
    }

    textarea {
      border-radius: 8px;
      width: 95%;
      border-color: #555;
      min-height: 300px;
      padding: 12px;
      resize: none;
      box-sizing: border-box;
      &:focus {
        outline: none;
        border: 1px solid blue;
        box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.1);
      }
    }
  }
  .btn {
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    width: 95%;
    margin-block: 1rem;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    &:hover {
      background-color: #0000cc;
      transition: background 0.3s ease;
    }
  }
}

@media screen and (max-width: 767px) {
  main {
    margin-inline: 1.5rem;
    .in-out-container {
      flex-direction: column;
    }
  }
}
